.img-categories {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}


.img-categories article {
    width: 49.9vw;
    margin: 0;
}

.img-categories article img {
    width: 100%;
   position: absolute;
   bottom: 0;
   right: 0;
    /* top:-130%;
    right: 0;*/
}
.popular-products h2 {
    text-align: center;
    margin: 30px auto;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
    
}
.product-article {
    width: 50%;
    margin-bottom: 20px;
   /* background-color: #171717; */
    padding: 5px;
    transition: all 0.5s;
}
.product-article:hover {
    background-color: #171717;
}
.product-image {
    object-fit: cover;
    max-width: 500px;
    justify-self: center;
    margin-bottom: 10px;
}
.product-img-container {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
p {
    font-size: 1.4rem;
}
.price {
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.linkCreate {
    margin: auto;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}

.createLinkContainer {
    display: flex;
    justify-content: center;
}
@media (max-width: 320px) {
    .img-categories article  {

       height: 70px;
    }
}

@media (min-width: 768px) {
    .img-categories article {
        width: 33.33333333vw;
        margin: 0;
    }
    .product-article {
        width: 33.333333333333%;
}
}

@media (min-width: 1024px) {
    p {
        font-size: 1.6rem;
    }
    .price {
        font-size: 1.4rem;
    }
    
   /* .price-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 0;
    } */
    .img-categories article {
        width: 16.666666vw;
        margin: 0;
        height: 90px;
    }
.img-categories article img {
   top: 0;
   right: 0;
    /* top:-130%;
    right: 0;*/
}
.product-article {
    width: 20%;
}
}
