.users-list-container h2 {
    text-align: center;
    margin: 30px auto;
}
.users-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
}
.user-card {
    width: 50%;
    margin-bottom: 20px;
   /* background-color: #171717; */
    padding: 5px;
    transition: all 0.5s;
}
.user-card:hover {
    background-color: #171717;
}
.user-image {
    object-fit: cover;
    max-width: 500px;
    justify-self: center;
    margin-bottom: 10px;
}
.user-img-container {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
p {
    font-size: 1.2rem;
}

@media (max-width: 320px) {

}

@media (min-width: 768px) {
    .user-card {
    width: 33.333333333333%;
}
}

@media (min-width: 1024px) {
    p {
        font-size: 1.3rem;
    }
    .user-name-email{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 0 10px 0 0;
    }

    .user-card {
    width: 20%;
    }
}
