<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/aboutUs.css" rel="stylesheet">
</head>
    <body>
        <main>
            <%- include('./partials/header') %>
            
            <section class="about-body">
                <section class="title"> 
                    <h1>About Us</h1> 
                </section>
                <article class="foreWord">
                    <p class="paragraph">Synthworld es un ecommerce dedicado a la venta de sintetizadores modulares, cases, accesorios, sequencers, efectos e instrumentos raros.
                    Como público objetivo, apuntamos a vender nuestros productos a músicos y aficionados a la música electrónica, músicos experimentales, sound designers y nerds/freakies del sonido en general. Personas que busquen calidad en su trabajo.</p>
                </article>
                <section class="Team">
                    <article class="teamDescription">
                        <section class="profile">
                            
                                <img class="profile-img" src="/img/us/profile1.jpeg">
                            <p>Agus: Argentino viviendo en Amsterdam. Apasionado por la musica y la tecnologia.</p>
                        
                        </section>
                        <section class="profile">
                            
                            <img class="profile-img" src="/img/us/profile2.jpeg">
                            <p>Vicky: una platense viviendo en Madrid. Scrum Master de profesión y fanática de cualquier cosa relacionada a tecnologías</p>
                        
                        </section>
                        <section class="profile">
                            <img class="profile-img" src="/img/us/profile3.jpeg">
                            <p>Mati: entrerriano y apasionado por la naturaleza, explorando tierras españolas</p>
                        
                        </section>
                    </article>
                </section>
            </section>
        </main>   
    </body>
</html>