<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %> 
<main>
   
   <!-- <section>
      <article class="carrousell">
            <img src="img/octatrack-mkii.webp">
        </article>
    </section> -->
    <div class="container-banner banner-top"> 
        <img src="img/banner4.png" class="cables-banner">
    </div>
    <section class="categories">
        <h2>Categories</h2>
        <div class="img-categories">
        <article class="modules-cases">
            <img src="img/modular-categories.jpg">
            <p class="categories-text">Modules & Cases</p>
            </article>
            <article class="sequencers">
                <img src="img/Drum-Seq.jpeg">
                <p class="categories-text">Sequencers</p>
                </article>    
            <article class="accesories">
                <img src="img/accesories.jpeg">
                <p class="categories-text">Accesories</p>
                </article> 
                <article class="effects">
                    <img src="img/effects1.jpeg">
                    <p class="categories-text">Effects</p>
                    </article>
            <article class="weird-gear">
                <img src="img/weird-gear2.jpeg">
                <p class="categories-text">Weird Gear</p>
                </article> 
                <article class="new-releases">
                    <img src="img/new-releases1.jpeg">
                    <p class="categories-text">New Releases</p>
                    </article>   
                    </div>    
    </section>
    <div class="container-banner"> 
        <img src="img/banner3.png" class="cables-banner">
    </div>
    <section class="info-home">
        <article class="info-home-titulo-boton">
        <h2>We are SynthWorld</h2>
        <p class="short-description">
            Our passion is sound exploration. Since 2002 we have been providing and supporting individuals who share our passion.
        </p>
        <a class="learn-more">Learn more</a>
    </article>
        <img src="img/news-home1.webp" class="info-home-img">
    </section>
    <section class="info-home home-news-dt">
        <img src="img/eurorack-buchla.jpg" class="info-home-img">
        <article class="info-home-titulo-boton">
        <h2>Latest news</h2>
        <p class="short-description">
            From the authentic to the impossible, unlock premium piano sounds for cinematic score & library composition, immersive game soundscapes, and slick modern DAW production with an intuitive & inspiring piano experience that transcends virtual instruments.

            Starting with beautifully captured recordings of an ‘80s Steinway Grand, embellished with unusual techniques like bowing, ping pong balls, and tape-processing, and fused with synthesis for fresh, exciting, outside-the-box piano sounds.
        </p>
        <a class="learn-more learn-more-news-dt">Read more</a>
    </article>
        
    </section>
    <section class="sponsored-artists">
        <h2>Sponsored Artists</h2>
        <p class="description-sponsored">
            We are proud to support many talented artists that push boundries beyond limits.
        </p>
        <article class="img-artists">
            <div class="container-img-sponsored">
                <img src="img/juan-hansen.webp"></div>
            <div class="container-img-sponsored">
                <img src="img/look-mum.jpeg"></div>
            <div class="container-img-sponsored">
                <img src="img/nicolas-jaar.jpeg"></div>
            <div class="container-img-sponsored">
                <img src="img/moby.jpeg"></div>


        </article>
        <article class="img-artists">
            <div class="container-img-sponsored">
                <img src="img/hainbach.jpeg"></div>
            <div class="container-img-sponsored">
                <img src="img/benn-jordan.webp"></div>
            <div class="container-img-sponsored">
                <img src="img/true-cukoo.jpeg"></div>
            <div class="container-img-sponsored">
                <img src="img/arteforma.jpeg"></div>
        </article>
    </section>

    <!--dropdown section mobile-->
    <section class="info-dropdown">
        <article class="company">
            <h2>Company</h2>
            <div class="btn-dropdown">
                <i class="fas fa-caret-down"></i>
            </div>
            </article>
            <article class="info-dropdown-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, expedita. Non, repellendus voluptatibus? Ullam, pariatur libero aperiam officia consequuntur autem eum inventore quibusdam eos blanditiis animi ducimus soluta consectetur doloribus!</p>  
        </article>
        <article class="latest-news">
            <h2>Latest News</h2>
            <div class="btn-dropdown">
                <i class="fas fa-caret-down"></i>
            </div> 
        </article>
        <article class="info-dropdown-text">
            <p><strong>Ullam, pariatur libero aperiam</strong> officia consequuntur autem eum inventore quibusdam eos blanditiis animi ducimus soluta consectetur doloribus!</p>  
        </article>
        <article class="sponsored-artists-dd">
            <h2>Sponsored Artists</h2>
            <div class="btn-dropdown">
                <i class="fas fa-caret-down"></i>
            </div> 
        </article>
            <article class="info-dropdown-text">
        <p>
            We are proud to support many talented artists that push boundries beyond limits.
        </p>
        </article>
    </section>
</section>
<!-- fin doropdown section -->
</main>

<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>