<header>
    <section class="nav-bar-top">
        <i class="fas fa-bars burger-menu"></i>
        <a href='/home' class="logo-and-name">
            <img src="/img/Logo.PNG" class="" >
            <h1>SynthWorld</h1>
        </a>
            <article class="nav-bar-links">
                <h2><a href="/shop">Shop</a></h2>
                <h2><a href="">News</a></h2>
                <h2><a href="/aboutUs">About</a></h2>
                <h2><a href="">Support</a></h2>
            </article>
            <article class="icons-navbar">
            <a  href="/productCart"><i class="fas fa-shopping-cart cart-icon"></i></a> 
            <a href="/users/login" ><i class="fas fa-user user-icon"></i></a>
            </article>
    </section>
    <section class="search-bar">
    <input type="text" placeholder="Search...">
</section>
</header>